.changePwd{
    display: flex;
    flex-direction: column;
    color: black;
    background-color: #f2f3f4;
    justify-content: center;
    // box-shadow: 2px 2px;
    margin: 1.5rem 1.5rem;
    padding: 1.5rem 1.5rem;

    form{
        display: flex;
        flex-direction: column;
        width: 35%;
        margin: auto;  
        padding: 5rem;
        border: 2px solid #888888;
        border-radius: 15px;
        background-color: white;
        box-shadow: 0px 0px 10px 2px #888888;

    }

    label{
        margin: 0, 1.5rem;
        text-align: center;
        font-weight: bold;
    }

    h1{
        text-align: center;
        font-weight: bold;
        margin-bottom: 1.5rem;
    }

    input{
        box-shadow: 0px 0px 10px 2px #888888;
        border: 2px solid #888888;
        border-radius: 5px;
        margin: 1rem;
        padding: 0.5rem 0.5rem;
    }

    button{
        margin: 1.5rem 1.5rem;
        padding: 0.5rem 0.5rem;
        border-radius: 5px;
        background-color: #002fff;
        color: white;
        font-weight: bold;
        border: 2px solid black;

        &:hover{
            box-shadow: 0px 0px 10px 5px #888888;
        }
    }

    .message{
        text-align: center;
    }
}